/* .App {
  color: white;
}

.post {
  width: 30%;
  height: 50%;
  background-color: #282c34;
  margin: 10% auto;
  border-radius: 15px;
}

.photo {
  width: 15%;
  border-radius: 50%;
  margin-top: 5%;
  margin-left: 5%;
  float: left
}

.user {
  margin-left: 25%;
  padding-top: 5%;
  width: 50%;
}

.name {
  display: block;
  margin: 1%;
}

.nickname {
  display: inline-block;
  margin: 1%;
  font-size: smaller;
  opacity: 40%;
}

.date {
  display: inline-block;
  margin: 1%;
  font-size: smaller;
  opacity: 40%;
}

.content {
  display: block;
  margin-top: 3%;
  margin-left: 25%;
  width: 50%;
}

.image {
  width: 50%;
  border-radius: 15px;
  margin-left: 25%;
  margin-top: 3%;
  margin-bottom: 5%;
} */